.modal {
  position: fixed;
  top: 20%;
  left: calc(50% - 50% / 2);
  width: 50%;
  background-color: white;
  opacity: 1;
  padding: 10px;
  animation-name: anim;
  animation-duration: 1s;
}

.modal h3 {
  text-align: center;
}

.modal:hover {
  cursor: default;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.backdrop:hover {
  cursor: pointer;
}

.modal-element {
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.modal-element input {
  width: 80%;
  height: 60%;
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}