.list-item {
  width: 40%;
  box-shadow: 0 0 7px;
  margin: 10px;
  animation-name: anim;
  animation-duration: 1s;
  transition: 0.3s ease-out all;
}

.list-item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.list-item-image {
  width: 100%;
  height: 60%;
}

.item-name {
  text-align: center;
  margin: 0 0 16px 0;
  font-size: 20px;
  font-weight: bold;
}

.item-color {
  display: flex;
  margin-left: 24px;
}

.item-color p {
  margin: 0;
}

.item-price {
  text-align: right;
  margin-right: 50px;
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}