.sidebar-element {
  margin: 10px;
  transition: 0.3s ease-out transform;
}

.sidebar-element:hover {
  transform: scale(1.1);
}

.sidebar-element a {
  width: 100%;
  height: 100%;
}

.sidebar-element-image {
  width: 100%;
  height: 100%;
}