.list-item {
  width: 40%;
  box-shadow: 0 0 7px;
  margin: 10px;
  animation-name: anim;
  animation-duration: 1s;
  transition: 0.3s ease-out all;
  padding: 10px;
  position: relative;
}

.list-item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.list-item-image {
  width: 100%;
  height: 60%;
}

.list {
  box-sizing: border-box;
  margin: 0;
}

.editing-item-name {
  width: 40%;
  text-align: center;
  margin: 0 0 16px 0;
  font-size: 20px;
  font-weight: bold;
}

.editing-item-mark {
  width: 40%;
  text-align: center;
  margin: 0 0 16px 20px;
  font-size: 20px;
  font-weight: bold;
}

.item-color {
  display: flex;
  margin-left: 24px;
  max-width: 70%;
}

.item-color p {
  margin: 0;
}

.save-btn {
  margin-left: 20px;
  position: absolute;
  top: 5%;
  left: 5%;
}

@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}