.icon {
  width: 35px;
  transition: 0.3s ease-out all;
}

.icon:hover, .select-mark:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.select-mark {
  transition: 0.3s ease-out all;
}

.controls {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 60px;
  justify-content: space-around;
  width: 94vw;
}